/*---------------Colors-------------------------------*/
$basick-white: #fff;
$basick-black: #000;
$basick-purple: #8253D8;
$basick-gray: #ABABAB;
$basick-gray-text: #B0B0B0;
$basick-gray-hover: #D6CEE1;
$basick-purple-hover: #8754D9;
$special-purple-hover: #A658DB;